<!DOCTYPE html>
<html>
<head>
  <title>ID.me Demo App 3.0</title>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>
<body>
  
  <a href="/<%= env %>/oauth">OAuth</a>
  <a href="/<%= env %>/oidc">OIDC</a>
  <a href="/<%= env %>/saml">SAML</a>
  
</body>
</html>