<!DOCTYPE html>
<html>
<head>
  <title>ID.me Demo App 3.0</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <p class="flow-text center-align">If you are looking to test <strong>in <%= env %></strong>, you are in the right place.</p>
    <h2 class="flow-text center-align">Select federated protocol:</h2>
    <div class="row">
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">OAuth</span>
            <p>
              OAuth 2.0 is an industry-standard protocol for authorization that allows third-party applications to access a user's data without exposing their credentials.
            </p>
          </div>
          <div class="card-action green darken-2">
            <a href="/idme/<%= env %>/oauth" class="white-text">Continue with OAuth</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">OpenID Connect</span>
            <p>
              OpenID Connect is an authentication protocol built on top of OAuth 2.0. It enables secure and user-friendly single sign-on (SSO) for web and mobile applications.
            </p>
          </div>
          <div class="card-action green darken-2">
            <a href="/idme/<%= env %>/oidc" class="white-text">Continue with OIDC</a>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card">
          <div class="card-content">
            <span class="card-title">SAML</span>
            <p>
              SAML 2.0 is an XML-based framework for securely exchanging authentication and authorization data between parties, often used in single sign-on (SSO) scenarios.
            </p>
          </div>
          <div class="card-action green darken-2">
            <a href="/idme/<%= env %>/saml" class="white-text">Continue with SAML</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>