<!DOCTYPE html>
<html>
<head>
  <title>ID.me Demo App 3.0</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <h1 class="flow-text center-align">Hello! Welcome to ID.me's Demo App</h1>
    <p class="flow-text center-align">This app was created to allow you to test authentication and verification using of ID.me.</p>
    <h2 class="flow-text center-align">Select environment:</h2>
    <div class="row">
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Sandbox</span>
            <p>
              Our sandbox environment offers a flexible platform where you can input various data types to simulate scenarios and test functionalities. You can upload documents of any format for seamless integration and comprehensive testing. Additionally, you can generate simulated responses to mimic real-world interactions, allowing for thorough evaluation and debugging. This environment is designed to provide a realistic and versatile testing ground.
            </p>
          </div>
          <div class="card-action green darken-2">
            <a href="/idme/sandbox" class="white-text">Continue with sandbox</a>
          </div>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Production</span>
            <p>
              Our production environment is designed for real-world application, providing a reliable platform for your needs. You can input real data, ensuring operations and analyses are based on actual information. You can upload real documents for seamless integration and accurate testing. The environment generates real responses, reflecting actual conditions and outcomes for a trustworthy system.
            </p>
          </div>
          <div class="card-action green darken-2">
            <a href="/idme/prod" class="white-text">Continue with production</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>